*{
    margin: 0;
    padding: 0;
}
#wrapContant{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
}
.Mant,
.man{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    object-fit: cover;
}
.contaner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; 
}

