*{
    margin: 0;
    padding: 0;
}
#wrapContant{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.Mant,
.man{
    position: absolute;
    z-index: -1;
    
}
.contaner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; 
}
.Mant{
    height: 150vh;
    transform: translateZ(-40px) scale(5);
}
.man{
    height: 100vh;
    transform: translateZ(-20px) scale(3);
}
#ADVENTURE{
    font-size: x-large;
    color: white;
}

